._wraper {
    padding: 1em 5% 1em 5%;
    background-color: #181818;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: block;
    padding-top: 5%;
    padding-inline: 5%;
    height: 100vh;
    width: 100vw;
    background-color: #000000;
    transition: transform 0.2s cubic-bezier(.17,.67,.66,1.05);
}

.menu[show='false'] {
    transform: translateX(100%);
}

.menu[show='true'] {
    transform: translateX(0);
}

.menu_container {
    & .menu_top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1em;
        & button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            padding: 0;
            border: none;
        }
    }
}

.menu_list_one {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    list-style: none;
    padding: 0;
    margin: 0;

    &>a + a {
        margin-top: 1em;
    }

    & a {
        /* Instructors */
        font-family: 'Lato';
        font-style: normal;
        text-decoration: none;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.5em;
        display: block;
        width: 100%;
        text-align: center;
        /* identical to box height, or 179% */

        letter-spacing: 0.6px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}

.menu_list_two {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5em;
    & input {
        width: 80vw;
        height: 2.75rem;
        border: none;
        font-size: 1.5rem;
        padding-left: 1em;
        color: #4e4e4e;
        background: #FFFFFF;
        border-radius: 624.9375rem 0 0 624.9375rem;
        &:focus {
            outline: none;
        }
    }

    &>div {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        &>div:last-child {
            display: flex;
            align-items: center;
            background-color: white;
            border-radius: 0 624.9375rem 624.9375rem 0;
            padding-right: 1em;
        }
    }

    & button {
        /* Instructors */
        display: block;
        width: 100%;
        margin-top: 1em;
        font-family: 'Lato';
        font-style: normal;
        text-decoration: none;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.5em;
        /* identical to box height, or 179% */
        background-color: transparent;
        border: none;
        letter-spacing: 0.6px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}

.logo {
    cursor: pointer;
}

.logo::after {
    content: "";
    display: block;
    width: 9.0625rem;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.navigation_one {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.navigation_list_one {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    &>a + a {
        margin-left: 2em;
    }

    & a {
        /* Instructors */
        font-family: 'Lato';
        font-style: normal;
        text-decoration: none;
        font-weight: 400;
        font-size: 0.8125rem;
        line-height: 179%;
        /* identical to box height, or 179% */

        letter-spacing: 0.6px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}

.navigation_two {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

.navigation_list_two {
    display: none;
    flex-direction: row;
    align-items: center;

    &>div:first-child {
        display: none;
        flex-direction: row;
        flex-wrap: nowrap;
        &>div:last-child {
            display: flex;
            align-items: center;
            background-color: white;
            border-radius: 0 624.9375rem 624.9375rem 0;
            padding-right: 1em;
        }
    }

    & input {
        width: calc(20vw + 1.5rem);
        min-width: 0px;
        height: 2.75rem;
        border: none;
        resize: horizontal;
        font-size: 1.5rem;
        padding-left: 1em;
        color: #4e4e4e;
        background: #FFFFFF;
        border-radius: 624.9375rem 0 0 624.9375rem;

        &:focus {
            outline: none;
        }
    }

    & button {
        /* Instructors */
        margin-left: 1em;
        font-family: 'Lato';
        font-style: normal;
        text-decoration: none;
        font-weight: 400;
        font-size: 0.8125rem;
        line-height: 179%;
        /* identical to box height, or 179% */
        background-color: transparent;
        border: none;
        letter-spacing: 0.6px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}

.navigation_button {
    display: flex;
    flex-direction: row;
    align-items: center;
    & button {
        padding: 0;
        background: transparent;
        border: none;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 800px){
    ._wraper {
        padding: 1.5em 5%;
    }

    .navigation_list_one, .navigation_list_two {
        display: flex;
    }

    .navigation_button {
        display: none;
    }

    .menu {
        display: none;
    }
}

@media only screen and (min-width: 1100px) {
    .navigation_list_two {
        &>div:first-child {
            display: flex;
        }
    }
}